body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f9e4b7;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ff9f9f;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
nav {
    margin-top: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.container {
    display: flex;
    padding: 20px;
}
aside {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
}
aside h2 {
    margin-top: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
ul li a {
    color: #333;
    text-decoration: none;
}
ul li a:hover {
    text-decoration: underline;
}
main {
    flex: 1;
    padding: 20px;
}
.return-link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    text-decoration: none;
}

.return-link:hover {
    text-decoration: underline;
}
